body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.top-container { /* Main Section */
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

.header-section { /* Secondary Section */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-section ul {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    list-style-type: none;
    gap: 35px;
}

.main-content-section { /* Secondary Section */
    display: flex;
    padding: 80px 20px 80px 20px;
    margin: auto;
    justify-content: center;
    max-width: 800px;
}

.main-content-section h1 {
    font-size: 48px;
    font-weight: extra bold;
    margin: 0px;
}

.main-content-section p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px 0px 20px 0px;
}

.main-content-section button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 5px 25px 5px 25px;
    border-radius: 8px;
}

.title-button {
    width: 420px;
    height: 250px;
    margin-right: 35px;
}

.secondary-content-container { /* Main Section */
    background-color: white;
    flex: 1;
    padding: 20px 60px 40px 60px;
}

.images-section {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    gap: 30px;
}

.images-section img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.info {
    max-width: 100px;
    text-align: center;
}

.info p {
    margin-top: 5px;
}

.secondary-content-container h3 {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;

}

.testimonial-block-container { /* Main Section */
    background-color: #E5E7EB;
    color: #1F2937;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    width: 800px;
    text-align: center;
    margin: auto;
    padding-bottom: 0;
}

.quote-person {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: right;
    margin: 0px 100px 0px 0px
}

.sign-up-block-container { /* Main Section */
    background-color: white;
    color: white;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.call-to-action {
    background: #3882F6;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.footer { /* Main Section */
    background-color: #1F2937;
    color: #E5E7EB;
    flex: 0;
    text-align: center;
}

/* div {
    border: 1px solid red;
} */