html {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95vw;
    height: 95vh;
}

.top-section { /* Main Section */
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 2;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-section ul {
    color: #E5E7EB;
    display: flex;
    list-style-type: none;
    gap: 35px;
}

.top-section p {
    color: #E5E7EB;
}

.secondary-content { /* Main Section */
    background-color: white;
    flex: 1;
}

.secondary-content h3 {
    color: #1F2937
}

.testimonial-block { /* Main Section */
    background-color: #E5E7EB;
    color: #1F2937;
    flex: 1;
}

.sign-up-block { /* Main Section */
    background-color: white;
    color: white;
    flex: 1;
}

.sign-up-block .call-to-action {
    background-color: #3882F6;
}

.footer { /* Main Section */
    background-color: #1F2937;
    color: #E5E7EB;
    flex: 0;
}
















div {
    border: 1px solid red;
}